.leftside h1{
    font-size: 35px;
}
.leftside h2{
    color: #202124;
    font-size: 24px;
    font-weight: 400;
}
.link1{
    font-weight: 500;
    color: #1a73e8;
    text-decoration: none;
}
.createpassword{
    padding-top: 30px;
}
.Signininstead{
    padding-top: 35px;
}
.Signininstead a{
    font-weight: 500;
    color: #1a73e8;
    text-decoration: none;
}
.nextbutton{
    font-weight: 500;
    background-color: #1a73e8 ;
    color: #ffff;
    float: right;
}
.rightside p {
    text-align: center;
}
.border{
    border: 1px solid rgba(189, 184, 184, 0.89);
    padding: 40px;
    margin: 40px;
    border-radius: 10px;
}